name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Build Docker Image
      run: docker build -t jenkins-project .

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd Jenkins-Project
          git pull origin main
          docker stop jenkins-container || true
          docker rm jenkins-container || true
          docker build -t jenkins-project .
          docker run -d -p 80:80 --name jenkins-container jenkins-project
